<tr>

    <td>
        {{ form_widget(form) }}
    </td>
    <td class="my-auto">
        <button class="btn btn-link js-remove-url pull-right">
            <i class="fas fa-window-close"></i>
        </button>
    </td>
</tr>
